<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uni_kl.informatik.disco.discowall" >
    <!--
 minSdkVersion=3 is required for NDK to work
         [https://developer.android.com/tools/sdk/ndk/index.html#Reqs]
    -->
    <uses-sdk android:minSdkVersion="3" />

    <!-- Permissions: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- required for listening on tcp port, in order to communicate with netfilter-bridge -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/firewall_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <rulePolicy android:name="android.intent.rulePolicy.MAIN" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- important: the android:name of the service is its relative qualified name! -->
        <service
            android:name=".firewall.FirewallService"
            android:exported="false"
            android:label="Firewall Service" >
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".TextViewActivity"
            android:label="@string/title_activity_text_view" >
        </activity>

        <receiver
            android:name=".broadcastReceivers.AndroidBootCompletedReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="DiscoWallFirewallAutostartAtBootReceiver"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
